body{background: linear-gradient(to right, red, green, blue);}

h1{color: orange;
text-align: center;}

a:link, a:visited
{text-decoration: none;
color: orange;}


#przyciski
{margin-left: 40%; }
#lista{
text-align: center;
color: white;
font-size: 22px;
min-height: 400px;
min-width: 400px;}

#input 
{display: block;
margin: 0 auto; 
margin-bottom: 15px;
font-size: 16px;
padding: 5px;
min-width: 300px;
text-align: center;}
  

button
{background-color:orange;
border-radius:5%;
border: none; 
padding: 10px;
font-weight: bold;
margin-bottom: 25px;
}

.delete-btn
{background: green;
margin-left:5px;
border-radius: 5%;}

